<form class="example-form" [formGroup]="personaForm" (ngSubmit)="onSubmit()">
<mat-form-field appearance="outline">
    <mat-label>Nombre:</mat-label>
    <input matInput placeholder="" type="text" id="formNombre" formControlName="formNombre">
</mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellidos:</mat-label>
    <input matInput placeholder="" type="text" id="lastname" formControlName="formApellidos">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Edad:</mat-label>
    <input matInput placeholder="" type="number" id="age" formControlName="formEdad">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nacionalidad:</mat-label>
    <mat-select matNativeControl formControlName="formNacionalidad">
      <mat-option disabled>Elige una...</mat-option>
        <mat-option *ngFor="let item of nacionalidad" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" [disabled]="!personaForm.valid" mat-raised-button color="primary">Agregar</button>
  <button type="reset" mat-raised-button color="primary" id="buttonReset">Reset</button>
</form>

