<mat-card>
    <mat-card-title-group>
        <mat-card-title>Agregar:</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <app-agregar (envioNuevaPersona)="recibirPersona($event)"></app-agregar>
    </mat-card-content>


        <mat-card-title >Buscar:</mat-card-title>
    <app-buscador (filtroBuscador)="recibirFiltro($event)"></app-buscador>

    <mat-card-title-group>
        <mat-card-title>Datos:</mat-card-title>
    </mat-card-title-group>
    <app-grid [filtro]="filtroParaGrid" [persona]="personaParaGrid"></app-grid>
</mat-card>
<p>VistaComponent: {{personaParaGrid.Nombre}}</p>
