<mat-card>
    <mat-card-title-group>
        <mat-card-title>Agregar:</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <app-agregar (newPersona)="personaRecibidaVista"></app-agregar>
    </mat-card-content>


        <mat-card-title >Buscar:</mat-card-title>
    <app-buscador (filtroBuscador)="filtroVista = $event"></app-buscador>

    <mat-card-title-group>
        <mat-card-title>Datos:</mat-card-title>
    </mat-card-title-group>
    <app-grid [dataGrid]="dataVista" [filtroGrid]="filtroVista" [personaRecibidaGrid]="personaRecibidaVista"></app-grid>
</mat-card>
